* {
  margin:0;
  padding:0;
}


body {
  background-color:#2b2b2b;
  font-family:Courier New;
  color: #ccc;
  padding:5px;
}

#main {
  width:800px;
  margin-left:auto;
  margin-right:auto;
}

#header {
  margin-top:10px;
}


#title {
  font-size:60px;
  margin-right:20px;
  text-shadow: 2px 2px #ff69bf;
  float:left;
  color:#eee;
}


#inventory {
  position:relative;
  top: 5px;
  display:inline;
  float:right;
}

#levels {
  position:relative;
  top: 5px;
  display:inline;
  float:right;
  margin-left:15px;
  margin-right:5px;
}

#levels a {
  color: #eee;
  text-decoration:none;
}


#footer {
  margin-top:40px;

}
#controls, #inventory, #levels {
  background-color: #444;
  padding: 10px;
  border: 1px solid black;
  border-radius:5px;
  list-style:none;
  color:white;
  text-shadow: 1px 1px #ff69bf;
  box-shadow: 1px 1px 1px 2px #222;
}

.inventory_title {
  font-weight:bold;
  align:middle;
  margin-bottom:1px;
  text-decoration:underline;
}

.inventory_list {
  list-style:none;
  float:right;
  text-align:right;
  font-weight:bold;
}

.substance {
    font-weight:normal;
}

#game {
  clear:both;
  background-image:url(images/space.jpg);
  width: 800px;
  height:500px;
  border-radius:15px;
  border:2px solid #bbb;
}

.clear {
    clear:both;
}
